<!DOCTYPE html>
<html>
<head>
    <title>Todooz</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <span class="brand">Todooz</span>
            <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
            </form>
            <a href="/add" class="btn btn-inverse pull-right"><i class="icon-plus icon-white"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <legend>All tasks</legend>

            <div>
                <p>20 juillet 2012</p>
                <span class="lead">Read Effective Java</span>
                <span class="badge badge-info">Java</span>
                <span class="badge badge-info">Java</span>
                <p>Read Effective Java before it's too late</p>
            </div>

            <div>
                <p>20 juillet 2012</p>
                <span class="lead">Read Effective Java</span>
                <span class="badge badge-info">Java</span>
                <span class="badge badge-info">Java</span>
                <p>Read Effective Java before it's too late</p>
            </div>

            <div>
                <p>20 juillet 2012</p>
                <span class="lead">Read Effective Java</span>
                <span class="badge badge-info">Java</span>
                <span class="badge badge-info">Java</span>
                <p>Read Effective Java before it's too late</p>
            </div>

            <div>
                <p>20 juillet 2012</p>
                <span class="lead">Read Effective Java</span>
                <span class="badge badge-info">Java</span>
                <span class="badge badge-info">Java</span>
                <p>Read Effective Java before it's too late</p>
            </div>

            <div>
                <p>20 juillet 2012</p>
                <span class="lead">Read Effective Java</span>
                <span class="badge badge-info">Java</span>
                <span class="badge badge-info">Java</span>
                <p>Read Effective Java before it's too late</p>
            </div>

            <div>
                <p>20 juillet 2012</p>
                <span class="lead">Read Effective Java</span>
                <span class="badge badge-info">Java</span>
                <span class="badge badge-info">Java</span>
                <p>Read Effective Java before it's too late</p>
            </div>
        </div>
        <div class="span3">
            <div>
                <legend>Quick links</legend>
                <ul>
                    <li><a href="/today">Today's</a></li>
                    <li><a href="/today">Tomorrow's</a></li>
                </ul>
            </div>

            <div>
                <legend>Tags</legend>
                <a href="/tag/java" style="font-size:14px">java</a>
                <a href="/tag/java" style="font-size:20px">java</a>
                <a href="/tag/java" style="font-size:16px">java</a>
                <a href="/tag/java" style="font-size:12px">java</a>
                <a href="/tag/java" style="font-size:10px">java</a>
                <a href="/tag/java" style="font-size:22px">java</a>
                <a href="/tag/java" style="font-size:12px">java</a>
                <a href="/tag/java" style="font-size:14px">java</a>
                <a href="/tag/java" style="font-size:18px">java</a>
                <a href="/tag/java" style="font-size:24px">java</a>
                <a href="/tag/java" style="font-size:12px">java</a>
                <a href="/tag/java" style="font-size:10px">java</a>
                <a href="/tag/java" style="font-size:14px">java</a>
            </div>
        </div>
    </div>
</div>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
