
.slide {
	font-size:20px;
}

pre {
	font-size:16px;
}

p.source {
	position:absolute;
	right:20px;
	bottom:20px;
	color:#555;
	font-size:12px;
}

span.chapter {
	position:absolute;
	top:10px;
	left:35px;
	color:#555;
	font-size:12px;
}

img.logo {
	position:absolute;
	right:20px;
	top:20px;
	height=50px;
}

p.warning {
	background-image:url("warning.png");
	background-repeat:no-repeat;
	background-position:left;
	padding-left:20px
}

a.external {
	background-image:url("external-link.png");
	background-repeat:no-repeat;
	background-position:right;
	padding-right:15px
}

a.project {
	background-image:url("cog.png");
	background-repeat:no-repeat;
	background-position:0 0;
	padding-left:20px
}

span.comment {
	color:grey;
}

.jquery {
	
}

.refTable {
	width: 100%;
	font-size:18px;
}

.refTable thead tr td {
	background-color:#777;
	color:white;
	text-align: center;
}

.refTable td:nth-child(odd) {
	text-align: center;
	padding:3px 5px;
}

.refTable td:nth-child(even) {
	padding:3px 5px;
}

.refTable tr:nth-child(even) {
	background-color:white;
}

.refTable tr:nth-child(odd) {
	background-color:#CCC;
}

.shell {
	font-size:14px;
}

div.displayExample {
	font-size:16px;
width: 417px;
display:inline-block;
margin:0 0px;
}
div.displayExample div {
margin: 4px;
padding: 4px;
}
.first {
border: 1px solid #C00;
}
.second {
border: 1px solid #0C0;
}
.third {
border: 1px solid #00C;
}

ul {
	margin:0px;
	padding:5px;
}

ol {
	margin:0px;
	padding:5px;
}

ol li {
	list-style: decimal inside;
	margin:0px;
	padding:3px;
}

ul li {
	list-style: square inside;
	margin:0px;
	padding:3px;
}

table.proscons {
	width:800px;
	margin:auto;
	border-collapse: collapse;
}

table.proscons thead td:nth-child(1)  {
	color:white;
	background-color:#009933;
	text-align: center;
	width:400px;
}

table.proscons thead td:nth-child(2) {
	color:white;
	background-color:#CC0000;
	text-align: center;
	width:400px;
}

table.proscons tbody td {
	vertical-align: top;
}

table.proscons tbody td:nth-child(1)  {
	background-color:#CCEFD9;
	width:400px;
}

table.proscons tbody td:nth-child(2) {
	background-color:#ECA3A3;
	width:400px;
}

table.proscons tbody td ul {
	padding:0px;
	margin:0px;
}

table.proscons tbody td li {
	padding:4px;
	list-style: square;
	list-style-position: inside;
}

ul.nav {
	position:absolute;
	bottom:10px;
	left:10px;
	margin:0px;
	padding:0px;
	font-size: 10px;
	border-bottom: 1px #C9C9C9 solid;
}

ul.nav li {
	position:relative;
	top:7px;
	display:inline;
	padding:0 5px 0 7px;
	margin:0px 0px 0px 10px;
	-moz-border-radius:3px 3px;
	background-color: #C9C9C9;
	color:#787878;
}

ul.nav li.active {
	background-color: #595959;
	color:#D4D4D4;
}